
<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Story 3</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'fix1.css' %}">
</head>

<body background="https://i.ibb.co/6ghv2R6/sc0.png">
  <div>
    <img src="https://i.ibb.co/jwKXwxd/ava.jpg" alt="avatar" class="rounded-circle">
    <h1>Muhammad Farhan Ghaffar</h1>
    <div>
      <nav>
        <ul>
          <li><a href="/profile" class="btn btn-info" role="button">Profile</a></li>
          <li><a href="/experiences" class="btn btn-info">Experiences</a></li>
        </ul>
      </nav>
    </div>
    <div class="sosmed">
      <nav>
        <ul>
          <li><a href="https://www.instagram.com/frhn_26/?hl=en">
              <img class="logo" src="https://i.ibb.co/gZSLXrG/instagram.png" title="Instagram" alt="insta"></a></li>
          <li><a href="https://twitter.com/nahraff_">
              <img class="logo" src="https://i.ibb.co/JvC93Hc/twitter.png" title="Twitter" alt="insta"></a></li>
          <li><a href="https://www.facebook.com/farhan.ghafar.3">
              <img class="logo" src="https://i.ibb.co/rdn0BhM/facebook-logo.png" title="Facebook" alt="insta"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</body>

</html>