<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel ="stylesheet" href="{%static 'fix3.css' %}">
  


</head>
<body>
    <div class="row">
        <div class="col1">
            <img class="pinggir" src="https://i.ibb.co/VSmsrNT/foto.jpg" alt="foto">
        </div>
        <div class="col2" style="background-image: url(https://i.ibb.co/ZJGvBJz/sc.png)">
            <nav>
                <ul>
                        <li><a href="/"><img src="https://i.ibb.co/wy0RbCt/home.png" title="Home Page" alt="home"></a></li>`</li>
                        <li><h1>Profile</h1></li>
                </ul>
            </nav>
            <p  class="underl">Kepanitiaan</p> 
            <div class="tab">
                <span style="padding-left:2em">
                    <p>-Staff panitia perlengkapan pada acara pensi sekolah tahun 2017 - 2018</p>
                    <p>- Staff panitia perlengkapan Universiade tahun 2018</p>
                    <p>- Staff panitia perlengkapan Olim UI tahun 2018</p>
                    <p>- Staff TnV Compfest Fasilkom tahun 2018 - 2019</p>
                    <p>- Penanggung Jawab perlengkapan OH Fasilkom tahun 2019</p>
                </span>
            </div>
            <p  class="underl">Pendidikan</p> 
            <div class="tab">
                <span style="padding-left:2em">
                    <p>o Universitas Indonesia
                        <span style="padding-left:4em">2018 - sekarang</span>
                    <p>o Universitas Indonesia
                            <span style="padding-left:4em">2018 - sekarang</span></p>
                    <p>o SMPN 174 jakarta
                            <span style="padding-left:6em">2012 - 2015</span></p>
                    <p>o SDN Susukan 07 Pagi
                            <span style="padding-left:4em">2009 - 2012</span></p>
                    <p>o SDN Pondok Bambu 01 Pagi
                            <span style="padding-left:1em">2006 - 2009</span></p>
                </span>
                </div>
            

        </div>
    </div>
    
</body>
</html>

